<div class="container-fluid">
<div class="row">
    {{detailCtrl.allDetails.name}}
    {{detailCtrl.allDetails.isbn}}
    {{detailCtrl.allDetails.numberOfPages}}
    {{detailCtrl.allDetails.publisher}}
    {{detailCtrl.allDetails.released}}
    <ul>
          <li ng-repeat="authors in detailCtrl.allDetails.authors">
              {{authors}}<br/>
              <hr/>
          </li>
      </ul>
      <ul>
          <li ng-repeat="characters in detailCtrl.allDetails.characters" ng-click="detailCtrl.goToDetail(characters)">
              <!-- {{detailCtrl.allDetails.characters[characters]}}<br/> -->
              {{characters}}
              <hr/>
          </li>
      </ul>
      <!-- <ul>
          <li ng-repeat="book in mainCtrl.booksArr" ng-click="mainCtrl.goToDetail(book.type, book.id)">
              <i class="fa fa-book" aria-hidden="true" style="font-size:48px;color:red"></i><br/>
              {{book.name}}<br/>
              {{book.authors[0]}}
              {{book.released}}<br/>
              <hr/>
          </li>
      </ul> -->
</div>
</div>