<div class="container-fluid">
<div class="row">
    {{detailCtrl.allDetails.name}}
    {{detailCtrl.allDetails.region}}
    {{detailCtrl.allDetails.coastOfArms}}
    {{detailCtrl.allDetails.words}}
    {{detailCtrl.allDetails.fouded}}
    {{detailCtrl.allDetails.founder}}
    {{detailCtrl.allDetails.overlord}}
    {{detailCtrl.allDetails.heir}}
    <ul>
          <li ng-repeat="seats in detailCtrl.allDetails.seats">
              {{seats}}<br/>
              <hr/>
          </li>
    </ul>
    <ul>
          <li ng-repeat="titles in detailCtrl.allDetails.titles">
              {{titles}}<br/>
              <hr/>
          </li>
    </ul>
      <ul>
          <li ng-repeat="members in detailCtrl.allDetails.swornMembers" ng-click="detailCtrl.goToDetail(members)">
              <!-- {{detailCtrl.allDetails.characters[characters]}}<br/> -->
              {{members}}
              <hr/>
          </li>
      </ul>
      <!-- <ul>
          <li ng-repeat="book in mainCtrl.booksArr" ng-click="mainCtrl.goToDetail(book.type, book.id)">
              <i class="fa fa-book" aria-hidden="true" style="font-size:48px;color:red"></i><br/>
              {{book.name}}<br/>
              {{book.authors[0]}}
              {{book.released}}<br/>
              <hr/>
          </li>
      </ul> -->
</div>
</div>